extends ../template
block variables
    - var title = 'Главная'
block content
    div.containet.flex__box 
        section.autorization
            h2.h2 Авторизуйтесь
            div.form
                form
                    div.input__box
                        input(
                          type='text'
                          name='login'
                          placeholder="Логин"
                        )    
                        input(
                          type='password'
                          name='password'
                          placeholder="Пароль"
                        )  
                        label
                            input(
                              type='checkbox'
                              name='check'
                              checked
                            )
                            .
                                Я человек    
                        div.form__ask Вы точно не робот? 
                        label
                            input(
                                type='radio'
                                name='radio'
                                ) 
                            .
                                 Да
                        label 
                            input(type='radio' name='radio') 
                            .
                                Не уверен
                    .autorization__buttons
                        a(href='google.com') На главную
                        button(type='submit') Войти

                        
                    
                    
